version: '{build}'
skip_tags: true
image:
  - Visual Studio 2019
  - Ubuntu2004
configuration:
  - Release
build_script:
  - ps: ./Build.ps1
test: off
artifacts:
  - path: artifacts/Serilog.*.nupkg
for:
-
  matrix:
    only:
      - image: Ubuntu2004
  build_script:
  - sh build.sh
deploy:
  - provider: NuGet
    api_key:
      secure: gjQNjT9fJBA2Bx+TCFnO0SrgjMDe3Wa99Dj0M8ADwAXeT8LIU4ECqjlzvYsapCYK
    skip_symbols: true
    on:
      branch: /^(master|dev)$/
  - provider: GitHub
    auth_token:
      secure: p4LpVhBKxGS5WqucHxFQ5c7C8cP74kbNB0Z8k9Oxx/PMaDQ1+ibmoexNqVU5ZlmX
    artifact: /Serilog.*\.nupkg/
    tag: v$(appveyor_build_version)
    on:
      branch: master
